@import url("https://fonts.googleapis.com/css?family=Raleway:100,400");
@font-face { font-family: 'S-CoreDream-1Thin'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-6Bold'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-9Black'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff"); font-weight: normal; font-style: normal; }
@-webkit-keyframes icontext-right { 0% { -webkit-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes icontext-right { 0% { -moz-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes icontext-right { 0% { transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes to-right { 0% { -webkit-transform: translate(-20px, 0) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-moz-keyframes to-right { 0% { -moz-transform: translate(-20px, 0) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@keyframes to-right { 0% { transform: translate(-20px, 0) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-webkit-keyframes scroll-arrow { 0% { -webkit-transform: translate(0, -20px) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-moz-keyframes scroll-arrow { 0% { -moz-transform: translate(0, -20px) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@keyframes scroll-arrow { 0% { transform: translate(0, -20px) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-webkit-keyframes to-down { 0% { -webkit-transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes to-down { 0% { -moz-transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes to-down { 0% { transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes up { 0% { -webkit-transform: translate(0, 100%); opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes up { 0% { -moz-transform: translate(0, 100%); opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes up { 0% { transform: translate(0, 100%); opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes wave { 0% { left: 0; }
  50% { left: 100%; }
  50.01% { left: -100%; }
  100% { left: 0; } }
@-moz-keyframes wave { 0% { left: 0; }
  50% { left: 100%; }
  50.01% { left: -100%; }
  100% { left: 0; } }
@keyframes wave { 0% { left: 0; }
  50% { left: 100%; }
  50.01% { left: -100%; }
  100% { left: 0; } }
@-webkit-keyframes flash { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes flash { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes flash { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes height-up { 0% { height: 100%; }
  100% { height: 0; } }
@-moz-keyframes height-up { 0% { height: 100%; }
  100% { height: 0; } }
@keyframes height-up { 0% { height: 100%; }
  100% { height: 0; } }
@-webkit-keyframes img-scale { 0% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1.05); } }
@-moz-keyframes img-scale { 0% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(1.05); } }
@keyframes img-scale { 0% { transform: scale(1); }
  100% { transform: scale(1.05); } }
html { font-size: 14px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }

body { width: 100%; overflow-x: hidden; }

.container { width: 100%; position: relative; }
.container .jumbo { width: 100%; margin-top: 7rem; position: relative; }
.container .jumbo .jumbo-img { width: 40%; height: 20vw; margin-left: 30%; position: relative; background-image: url("../../images/jumbo.jpg"); background-repeat: no-repeat; background-size: cover; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.container .jumbo .jumbo-img.expand { width: 70%; }
.container .jumbo .jumbo-text { position: absolute; width: 100%; top: 0; left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 15%; margin-top: 4%; }
.container .jumbo .jumbo-text .text-indicator { width: 100%; height: 2.2rem; position: relative; overflow: hidden; }
.container .jumbo .jumbo-text .text-indicator .indicator-line { width: 2rem; height: 2rem; border-left: 1px solid #2727af; border-top: 1px solid #2727af; border-bottom: 1px solid #2727af; display: inline-block; position: relative; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); -webkit-transform-origin: left bottom; -ms-transform-origin: left bottom; transform-origin: left bottom; }
.container .jumbo .jumbo-text .text-indicator .indicator-line.roll { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: left bottom; -ms-transform-origin: left bottom; transform-origin: left bottom; }
.container .jumbo .jumbo-text .text-indicator .indicator-line.line:after { height: 0; }
.container .jumbo .jumbo-text .text-indicator .indicator-line:after { content: ''; position: absolute; bottom: 0; right: 0; width: 1px; height: 2rem; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; background-color: #2727af; display: inline-block; }
.container .jumbo .jumbo-text .text-indicator .indicator-text { font-family: 'Raleway'; color: #2727af; font-size: 0.8rem; top: 0.6rem; left: 0.6rem; position: absolute; opacity: 0; }
.container .jumbo .jumbo-text .text-indicator .indicator-text.appear { -webkit-animation: icontext-right 0.5s ease; animation: icontext-right 0.5s ease; opacity: 1; }
.container .jumbo .jumbo-text .text-bigtitle { font-family: 'S-CoreDream-9Black'; font-size: 4rem; line-height: 1; color: #2727af; margin-top: 3rem; }
.container .jumbo .jumbo-text .text-subtitle { font-family: 'S-CoreDream-4Regular'; font-size: 1.4rem; line-height: 1; margin-top: 1rem; color: #424242; }
.container .scroll-down { width: 100%; position: relative; margin-top: 12rem; }
.container .scroll-down .scroll-icon { width: 100%; height: 5.5rem; position: relative; }
.container .scroll-down .scroll-icon.active .scroll-icon__line:after { width: 0; }
.container .scroll-down .scroll-icon.active .scroll-icon__arrow { -webkit-animation: scroll-arrow 2s ease infinite; animation: scroll-arrow 2s ease infinite; opacity: 1; }
.container .scroll-down .scroll-icon.active p { -webkit-animation: to-down 2s ease infinite; animation: to-down 2s ease infinite; opacity: 1; }
.container .scroll-down .scroll-icon .scroll-icon__line { width: 2.5rem; height: 2.5rem; background-color: transparent; border-left: 1px solid #2727af; border-right: 1px solid #2727af; border-bottom: 1px solid #2727af; position: relative; margin-left: calc((100% - 2.5rem) / 2); margin-top: 3rem; }
.container .scroll-down .scroll-icon .scroll-icon__line:after { content: ''; position: absolute; width: 100%; height: 1px; background-color: #2727af; top: 0; right: 0; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.container .scroll-down .scroll-icon .scroll-icon__arrow { width: 1rem; height: 1rem; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); border-bottom: 1px solid #2727af; border-right: 1px solid #2727af; display: inline-block; position: absolute; top: 0; margin-left: calc((100% - 1rem) / 2); opacity: 0; }
.container .scroll-down .scroll-icon p { position: absolute; font-family: 'S-CoreDream-4Regular'; width: 100%; text-align: center; font-size: 1rem; color: #2727af; opacity: 0; top: -2rem; }
.container .work-brief { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 7rem; }
.container .work-brief .work-brief__part { display: inline-block; margin-right: 4rem; }
.container .work-brief .work-brief__part span { font-family: 'S-CoreDream-4Regular'; color: #424242; font-size: 1.2rem; line-height: 1.5; }
.container .work-brief .work-brief__part.w-desc { width: 18rem; word-break: keep-all; }
.container .work-brief .work-brief__part.gotolink { width: 2.5rem; height: 2.5rem; }
.container .work-brief .work-brief__part.gotolink img { width: 100%; }
.container .work-content__main { width: 100%; height: 50vw; background: #4d06bb; background: -moz-linear-gradient(245deg, #4d06bb 0%, #8b1fc2 50%, #4d06bb 100%); background: -webkit-linear-gradient(245deg, #4d06bb 0%, #8b1fc2 50%, #4d06bb 100%); background: linear-gradient(245deg, #4d06bb 0%, #8b1fc2 50%, #4d06bb 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d06bb",endColorstr="#4d06bb",GradientType=1); margin-top: 7rem; }
.container .work-content__logo { width: 100%; position: relative; margin-top: 7rem; }
.container .work-content__logo .logo-img { width: 20%; margin-left: 40%; position: relative; }
.container .work-content__logo .logo-img img { width: 100%; }
.container .work-content__logo .logo-context { width: 100%; margin-top: 5rem; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 35%; }
.container .work-content__logo .logo-context .logo-context__title { width: 100%; text-align: center; font-family: 'S-CoreDream-6Bold'; color: #8002c1; font-size: 2.2rem; line-height: 1; }
.container .work-content__logo .logo-context .logo-context__desc { margin-top: 1.5rem; width: 100%; text-align: center; font-family: 'S-CoreDream-4Regular'; color: #424242; font-size: 1.1rem; line-height: 1.5; word-break: keep-all; margin-bottom: 7rem; }
.container .work-content__concept { width: 100%; position: relative; }
.container .work-content__concept .concept-img { width: 100%; position: relative; }
.container .work-content__concept .concept-img img { width: 100%; }
.container .work-content__concept .concept-context { width: 50%; position: absolute; top: 0; left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 13%; }
.container .work-content__concept .concept-context .concept-context__title { width: 100%; font-family: 'S-CoreDream-6Bold'; color: #8002c1; font-size: 2.2rem; line-height: 1; position: relative; margin-top: 15%; }
.container .work-content__concept .concept-context .concept-context__subtitle { width: 100%; font-family: 'S-CoreDream-2ExtraLight'; color: #424242; font-size: 1.4rem; line-height: 1; margin-top: 1rem; position: relative; }
.container .work-content__concept .concept-context .concept-context__desc { width: 100%; position: relative; margin-top: 30%; }
.container .work-content__concept .concept-context .concept-context__desc .concept-context__desc-subtitle { width: 100%; font-family: 'S-CoreDream-4Regular'; font-size: 1.4rem; color: #424242; line-height: 1; text-align: right; }
.container .work-content__concept .concept-context .concept-context__desc .concept-context__desc-text { width: 70%; font-family: 'S-CoreDream-4Regular'; font-size: 1.1rem; color: #424242; line-height: 1.8; text-align: right; margin-top: 2rem; margin-left: 30%; word-break: keep-all; }
.container .work-content__concept .concept-context .concept-context__color { width: 100%; margin-top: 30%; }
.container .work-content__concept .concept-context .concept-context__color img { width: 90%; margin-left: 10%; }
.container .work-content__reponsive { width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 30%; }
.container .work-content__reponsive .reponsive-context { width: 100%; position: relative; }
.container .work-content__reponsive .reponsive-context .reponsive-context__title { width: 100%; font-family: 'S-CoreDream-6Bold'; color: #8002c1; font-size: 2.2rem; line-height: 1; position: relative; text-align: center; margin-top: 5rem; }
.container .work-content__reponsive .reponsive-context .reponsive-context__subtitle { width: 100%; font-family: 'S-CoreDream-2ExtraLight'; color: #424242; font-size: 1.4rem; line-height: 1; margin-top: 1rem; position: relative; text-align: center; }
.container .work-content__reponsive .reponsive-img { width: 100%; position: relative; margin-top: 5rem; }
.container .work-content__reponsive .reponsive-img img { width: 100%; }
.container .work-content__character { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 7rem; }
.container .work-content__character .character-img { width: 50%; position: relative; display: inline-block; }
.container .work-content__character .character-img img { width: 150%; position: absolute; top: 0; left: -50%; }
.container .work-content__character .character-context { width: 50%; position: relative; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 10%; margin-top: 9rem; }
.container .work-content__character .character-context .character-context__title { width: 100%; text-align: right; font-family: 'S-CoreDream-6Bold'; color: #8002c1; font-size: 2.2rem; line-height: 1; position: relative; }
.container .work-content__character .character-context .character-context__subtitle { width: 100%; text-align: right; font-family: 'S-CoreDream-2ExtraLight'; color: #424242; font-size: 1.4rem; line-height: 1; margin-top: 1rem; position: relative; }
.container .work-content__character .character-context .character-context__desc { width: 40%; margin-left: 60%; text-align: right; font-family: 'S-CoreDream-4Regular'; font-size: 1.1rem; color: #424242; line-height: 1.5; text-align: right; margin-top: 10%; word-break: keep-all; }
.container .work-content__character .character-context .character-context__img { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 20%; margin-top: 10%; position: relative; }
.container .work-content__character .character-context .character-context__img img { width: 100%; }
.container .work-content__function { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 8% 10% 0 10%; background-color: #8002c1; margin-top: 14%; }
.container .work-content__function .function-img { width: calc((100% / 3) * 2); display: inline-block; position: relative; }
.container .work-content__function .function-img img { width: 100%; }
.container .work-content__function .function-context { width: calc(100% / 3); display: inline-block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 5%; }
.container .work-content__function .function-context .function-context__title { width: 100%; position: relative; font-family: 'S-CoreDream-6Bold'; color: white; font-size: 2.2rem; line-height: 1; }
.container .work-content__function .function-context .function-context__desc { width: 100%; position: relative; font-family: 'S-CoreDream-4Regular'; font-size: 1.1rem; color: white; line-height: 1.5; word-break: keep-all; margin-top: 3rem; }
.container .work-content__function .function-context .function-context__img { width: 100%; height: 26rem; position: relative; overflow: hidden; margin-top: 6rem; }
.container .work-content__function .function-context .function-context__img img { width: 100%; }
.container .work-content__convenient { width: 100%; position: relative; }
.container .work-content__convenient .convenient-img { width: 100%; position: relative; }
.container .work-content__convenient .convenient-img .convenient-img__up { width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 5%; }
.container .work-content__convenient .convenient-img .convenient-img__up img { width: 65%; margin-left: 35%; }
.container .work-content__convenient .convenient-img .convenient-img__bottom { width: 100%; height: 30vw; background-color: #8002c1; position: relative; margin-top: 10%; }
.container .work-content__convenient .convenient-img .convenient-img__bottom img { width: 25%; position: absolute; bottom: 0; left: 12%; }
.container .work-content__convenient .convenient-context { width: 100%; position: absolute; top: 7rem; left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5% 10% 0 10%; }
.container .work-content__convenient .convenient-context .convenient-context__title { width: 100%; position: relative; font-family: 'S-CoreDream-6Bold'; color: #8002c1; font-size: 2.2rem; line-height: 1; }
.container .work-content__convenient .convenient-context .convenient-context__subtitle { width: 100%; position: relative; font-family: 'S-CoreDream-2ExtraLight'; color: #424242; font-size: 1.4rem; line-height: 1; margin-top: 1rem; }
.container .work-content__convenient .convenient-context .convenient-context__desc { width: 30%; position: relative; font-family: 'S-CoreDream-4Regular'; font-size: 1.1rem; color: #424242; line-height: 1.5; word-break: keep-all; margin-top: 4rem; }
.container .work-content__convenient .convenient-context .convenient-context__img { width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 7%; margin-top: 15%; }
.container .work-content__convenient .convenient-context .convenient-context__img img { width: 100%; }

/*# sourceMappingURL=index.css.map */
