@import url("https://fonts.googleapis.com/css?family=Raleway:100,400");
@font-face { font-family: 'S-CoreDream-1Thin'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-6Bold'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-9Black'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff"); font-weight: normal; font-style: normal; }
@-webkit-keyframes icontext-right { 0% { -webkit-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes icontext-right { 0% { -moz-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes icontext-right { 0% { transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes to-right { 0% { -webkit-transform: translate(-20px, 0) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-moz-keyframes to-right { 0% { -moz-transform: translate(-20px, 0) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@keyframes to-right { 0% { transform: translate(-20px, 0) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-webkit-keyframes scroll-arrow { 0% { -webkit-transform: translate(0, -20px) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-moz-keyframes scroll-arrow { 0% { -moz-transform: translate(0, -20px) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@keyframes scroll-arrow { 0% { transform: translate(0, -20px) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0) rotate(45deg); opacity: 1; } }
@-webkit-keyframes to-down { 0% { -webkit-transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes to-down { 0% { -moz-transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes to-down { 0% { transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes up { 0% { -webkit-transform: translate(0, 100%); opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes up { 0% { -moz-transform: translate(0, 100%); opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes up { 0% { transform: translate(0, 100%); opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes wave { 0% { left: 0; }
  50% { left: 100%; }
  50.01% { left: -100%; }
  100% { left: 0; } }
@-moz-keyframes wave { 0% { left: 0; }
  50% { left: 100%; }
  50.01% { left: -100%; }
  100% { left: 0; } }
@keyframes wave { 0% { left: 0; }
  50% { left: 100%; }
  50.01% { left: -100%; }
  100% { left: 0; } }
@-webkit-keyframes flash { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes flash { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes flash { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes height-up { 0% { height: 100%; }
  100% { height: 0; } }
@-moz-keyframes height-up { 0% { height: 100%; }
  100% { height: 0; } }
@keyframes height-up { 0% { height: 100%; }
  100% { height: 0; } }
@-webkit-keyframes img-scale { 0% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1.05); } }
@-moz-keyframes img-scale { 0% { -moz-transform: scale(1); }
  100% { -moz-transform: scale(1.05); } }
@keyframes img-scale { 0% { transform: scale(1); }
  100% { transform: scale(1.05); } }
html { font-size: 14px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }

body { width: 100%; overflow-x: hidden; }

.contact { width: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 10%; margin-top: 7%; }
.contact .contact-text { width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 5%; position: relative; display: inline-block; }
.contact .contact-text .text-indicator { width: 100%; height: 2.2rem; position: relative; overflow: hidden; }
.contact .contact-text .text-indicator .indicator-line { width: 2rem; height: 2rem; border-left: 1px solid #2727af; border-top: 1px solid #2727af; border-bottom: 1px solid #2727af; display: inline-block; position: relative; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); -webkit-transform-origin: left bottom; -ms-transform-origin: left bottom; transform-origin: left bottom; }
.contact .contact-text .text-indicator .indicator-line.roll { -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: left bottom; -ms-transform-origin: left bottom; transform-origin: left bottom; }
.contact .contact-text .text-indicator .indicator-line.line:after { height: 0; }
.contact .contact-text .text-indicator .indicator-line:after { content: ''; position: absolute; bottom: 0; right: 0; width: 1px; height: 2rem; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; background-color: #2727af; display: inline-block; }
.contact .contact-text .text-indicator .indicator-text { font-family: 'Raleway'; color: #2727af; font-size: 0.8rem; top: 0.6rem; left: 0.6rem; position: absolute; opacity: 0; }
.contact .contact-text .text-indicator .indicator-text.appear { -webkit-animation: icontext-right 0.5s ease; animation: icontext-right 0.5s ease; opacity: 1; }
.contact .contact-text .text-title { width: 100%; position: relative; margin-top: 2rem; }
.contact .contact-text .text-title p { font-size: 4.5rem; font-family: 'S-CoreDream-9Black'; color: #2727af; line-height: 1.2; letter-spacing: 0.1rem; }
.contact .contact-text .text-email { width: 100%; position: relative; margin-top: 3rem; }
.contact .contact-text .text-email .email { font-size: 1.2rem; font-family: 'S-CoreDream-6Bold'; color: #424242; margin-right: 3rem; line-height: 1; }
.contact .contact-text .text-email .email-address { font-size: 1.2rem; font-family: 'S-CoreDream-4Regular'; color: #424242; line-height: 1; }
.contact .contact-text .text-desc { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 20%; margin-top: 2rem; }
.contact .contact-text .text-desc p { font-family: 'S-CoreDream-4Regular'; font-size: 1.1rem; line-height: 1.5; color: #424242; word-break: keep-all; }
.contact .contact-text .text-rights { font-size: 0.9rem; font-family: 'Raleway'; color: #919191; position: absolute; left: 0; bottom: 0; }
.contact .contact-img { width: 50%; display: inline-block; }
.contact .contact-img img { width: 100%; }

/*# sourceMappingURL=index.css.map */
