@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import 'base/variable.scss';
@import 'base/keyframes.scss';
.footer {
	width: 100%;
	height: calc(100vh - 7rem - 30vw);
	@include flexbox();
	@include box-sizing(border-box);
	padding: 2% 10%;
	.footer-hello {
		width: 60%;
		height: 100%;
		display: inline-block;
		position: relative;
		img {
			height: 70%;
		}
	}
	.footer-rights {
		width: 40%;
		height: 100%;
		display: inline-block;
		position: relative;
		p {
			font-size: 0.9rem;
			font-family: 'Raleway';
			color: $gray3;
			text-align: right;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}