@import '../../../../common/stylesheets/base/color.scss';
@import '../../../../common/stylesheets/base/font.scss';
@import '../../../../common/stylesheets/base/mixin.scss';
@import '../../../../common/stylesheets/base/variable.scss';
@import '../../../../common/stylesheets/base/keyframes.scss';
html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	width: 100%;
	overflow-x: hidden;
}
.container {
	width: 100%;
	position: relative;
	.jumbo {
		width: 100%;
		margin-top: 7rem;
		position: relative;
		.jumbo-img {
			width: 40%;
			height: 20vw;
			margin-left: 30%;
			position: relative;
			background-image: url("../../images/jumbo.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			@include transition(all 0.5s ease);
			&.expand {
				width: 70%;
			}
		}
		.jumbo-text {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			@include box-sizing(border-box);
			padding-left: 15%;
			margin-top: 4%;
			.text-indicator {
				width: 100%;
				height: 2.2rem;
				position: relative;
				overflow: hidden;
				.indicator-line {
					width: 2rem;
					height: 2rem;
					border-left: 1px solid $blue;
					border-top: 1px solid $blue;
					border-bottom: 1px solid $blue;
					display: inline-block;
					position: relative;
					@include transition(all 0.5s ease);
					@include transform(rotate(-180deg));
					@include transform-origin(left bottom);
					&.roll {
						@include transform(rotate(0));
						@include transform-origin(left bottom);
					}
					&.line {
						&:after {
							height: 0;
						}
					}
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						right: 0;
						width: 1px;
						height: 2rem;
						@include transition(all 0.5s ease);
						background-color: $blue;
						display: inline-block;
					}
				}
				.indicator-text {
					font-family: 'Raleway';
					color: $blue;
					font-size: 0.8rem;
					top: 0.6rem;
					left: 0.6rem;
					position: absolute;
					opacity: 0;
					&.appear {
						@include animation(icontext-right 0.5s ease);
						opacity: 1;
					}
				}
			}
			.text-bigtitle {
				font-family: 'S-CoreDream-9Black';
				font-size: 4rem;
				line-height: 1;
				color: $blue;
				margin-top: 3rem;
			}
			.text-subtitle {
				font-family: 'S-CoreDream-4Regular'; 
				font-size: 1.4rem;
				line-height: 1;
				margin-top: 1rem;
				color: $gray1;
			}
		}
	}
	.scroll-down {
		width: 100%;
		position: relative;
		margin-top: 12rem;
		.scroll-icon {
			width: 100%;
			height: 5.5rem;
			position: relative;
			&.active {
				.scroll-icon__line {
					&:after {
						width: 0;
					}
				}
				.scroll-icon__arrow {
					@include animation(scroll-arrow 2s ease infinite);
					opacity: 1;
				}
				p {
					@include animation(to-down 2s ease infinite);
					opacity: 1;
				}
			}
			.scroll-icon__line {
				width: 2.5rem;
				height: 2.5rem;
				background-color: transparent;
				border-left: 1px solid $blue;
				border-right: 1px solid $blue;
				border-bottom: 1px solid $blue;
				position: relative;
				margin-left: calc((100% - 2.5rem) / 2);
				margin-top: 3rem;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					background-color: $blue;
					top: 0;
					right: 0;
					@include transition(all 0.5s ease);
				}
			}
			.scroll-icon__arrow {
				width: 1rem;
				height: 1rem;
				@include transform(rotate(45deg));
				border-bottom: 1px solid $blue;
				border-right: 1px solid $blue;
				display: inline-block;
				position: absolute;
				top: 0;
				margin-left: calc((100% - 1rem) / 2);
				opacity: 0;
			}
			p {
				position: absolute;
				font-family: 'S-CoreDream-4Regular'; 
				width: 100%;
				text-align: center;
				font-size: 1rem;
				color: $blue;
				opacity: 0;
				top: -2rem;
			}
		}
	}
	.work-brief {
		width: 100%;
		position: relative;
		@include flexbox();
		@include justify-content(center);
		margin-top: 7rem;
		.work-brief__part {
			display: inline-block;
			margin-right: 4rem;
			span {
				font-family: 'S-CoreDream-4Regular'; 
				color: $gray1;
				font-size: 1.2rem;
				line-height: 1.5;
			}
			&.w-desc {
				width: 18rem;
				word-break: keep-all;
			}
			&.gotolink {
				width: 2.5rem;
				height: 2.5rem;
				img {
					width: 100%;
				}
			}
		}
	}
	.work-content__main {
		width: 100%;
		height: 50vw;
		@include workfourbg();
		margin-top: 7rem;
	}
	.work-content__logo {
		width: 100%;
		position: relative;
		margin-top: 7rem;
		.logo-img {
			width: 20%;
			margin-left: 40%;
			position: relative;
			img {
				width: 100%;
			}
		}
		.logo-context {
			width: 100%;
			margin-top: 5rem;
			position: relative;
			@include box-sizing(border-box);
			padding: 0 35%;
			.logo-context__title {
				width: 100%;
				text-align: center;
				font-family: 'S-CoreDream-6Bold'; 
				color: #8002c1;
				font-size: 2.2rem;
				line-height: 1;
			}
			.logo-context__desc {
				margin-top: 1.5rem;
				width: 100%;
				text-align: center;
				font-family: 'S-CoreDream-4Regular'; 
				color: $gray1;
				font-size: 1.1rem;
				line-height: 1.5;
				word-break: keep-all;
				margin-bottom: 7rem;
			}
		}
	}
	.work-content__concept {
		width: 100%;
		position: relative;
		.concept-img {
			width: 100%;
			position: relative;
			img {
				width: 100%;
			}
		}
		.concept-context {
			width: 50%;
			position: absolute;
			top: 0;
			left: 0;
			@include box-sizing(border-box);
			padding-left: 13%;
			.concept-context__title {
				width: 100%;
				font-family: 'S-CoreDream-6Bold'; 
				color: #8002c1;
				font-size: 2.2rem;
				line-height: 1;
				position: relative;
				margin-top: 15%;
			}
			.concept-context__subtitle {
				width: 100%;
				font-family: 'S-CoreDream-2ExtraLight';
				color: $gray1;
				font-size: 1.4rem;
				line-height: 1;
				margin-top: 1rem;
				position: relative;
			}
			.concept-context__desc {
				width: 100%;
				position: relative;
				margin-top: 30%;
				.concept-context__desc-subtitle {
					width: 100%;
					font-family: 'S-CoreDream-4Regular'; 
					font-size: 1.4rem;
					color: $gray1;
					line-height: 1;
					text-align: right;
				}
				.concept-context__desc-text {
					width: 70%;
					font-family: 'S-CoreDream-4Regular'; 
					font-size: 1.1rem;
					color: $gray1;
					line-height: 1.8;
					text-align: right;
					margin-top: 2rem;
					margin-left: 30%;
					word-break: keep-all;
				}
			}
			.concept-context__color {
				width: 100%;
				margin-top: 30%;
				img {
					width: 90%;
					margin-left: 10%;
				}
			}
		}
	}
	.work-content__reponsive {
		width: 100%;
		position: relative;
		@include box-sizing(border-box);
		padding: 0 30%;
		.reponsive-context {
			width: 100%;
			position: relative;
			.reponsive-context__title {
				width: 100%;
				font-family: 'S-CoreDream-6Bold'; 
				color: #8002c1;
				font-size: 2.2rem;
				line-height: 1;
				position: relative;
				text-align: center;
				margin-top: 5rem;
			}
			.reponsive-context__subtitle {
				width: 100%;
				font-family: 'S-CoreDream-2ExtraLight';
				color: $gray1;
				font-size: 1.4rem;
				line-height: 1;
				margin-top: 1rem;
				position: relative;
				text-align: center;
			}
		}
		.reponsive-img {
			width: 100%;
			position: relative;
			margin-top: 5rem;
			img {
				width: 100%;
			}
		}
	}
	.work-content__character {
		width: 100%;
		position: relative;
		@include flexbox();
		margin-top: 7rem;
		.character-img {
			width: 50%;
			position: relative;
			display: inline-block;
			img {
				width: 150%;
				position: absolute;
				top: 0;
				left: -50%;
			}
		}
		.character-context {
			width: 50%;
			position: relative;
			display: inline-block;
			@include box-sizing(border-box);
			padding-right: 10%;
			margin-top: 9rem;
			.character-context__title {
				width: 100%;
				text-align: right;
				font-family: 'S-CoreDream-6Bold'; 
				color: #8002c1;
				font-size: 2.2rem;
				line-height: 1;
				position: relative;
			}
			.character-context__subtitle {
				width: 100%;
				text-align: right;
				font-family: 'S-CoreDream-2ExtraLight';
				color: $gray1;
				font-size: 1.4rem;
				line-height: 1;
				margin-top: 1rem;
				position: relative;
			}
			.character-context__desc {
				width: 40%;
				margin-left: 60%;
				text-align: right;
				font-family: 'S-CoreDream-4Regular'; 
				font-size: 1.1rem;
				color: $gray1;
				line-height: 1.5;
				text-align: right;
				margin-top: 10%;
				word-break: keep-all;
			}
			.character-context__img {
				width: 100%;
				@include box-sizing(border-box);
				padding-left: 20%;
				margin-top: 10%;
				position: relative;
				img {
					width: 100%;
				}
			}
		}
	}
	.work-content__function {
		width: 100%;
		position: relative;
		@include flexbox();
		@include box-sizing(border-box);
		padding: 8% 10% 0 10%;
		background-color: #8002c1;
		margin-top: 14%;
		.function-img {
			width: calc((100% / 3) * 2);
			display: inline-block;
			position: relative;
			img {
				width: 100%;
			}
		}
		.function-context {
			width: calc(100% / 3);
			display: inline-block;
			position: relative;
			@include box-sizing(border-box);
			padding: 0 5%;
			.function-context__title {
				width: 100%;
				position: relative;
				font-family: 'S-CoreDream-6Bold'; 
				color: white;
				font-size: 2.2rem;
				line-height: 1;
			}
			.function-context__desc {
				width: 100%;
				position: relative;
				font-family: 'S-CoreDream-4Regular'; 
				font-size: 1.1rem;
				color: white;
				line-height: 1.5;
				word-break: keep-all;
				margin-top: 3rem;
			}
			.function-context__img {
				width: 100%;
				height: 26rem;
				position: relative;
				overflow: hidden;
				margin-top: 6rem;
				img {
					width: 100%;
				}
			}
		}
	}
	.work-content__convenient {
		width: 100%;
		position: relative;
		.convenient-img {
			width: 100%;
			position: relative;
			.convenient-img__up {
				width: 100%;
				position: relative;
				@include box-sizing(border-box);
				padding-top: 5%;
				img {
					width: 65%;
					margin-left: 35%;
				}
			}
			.convenient-img__bottom {
				width: 100%;
				height: 30vw;
				background-color: #8002c1;
				position: relative;
				margin-top: 10%;
				img {
					width: 25%;
					position: absolute;
					bottom: 0;
					left: 12%;
				}
			}
		}
		.convenient-context {
			width: 100%;
			position: absolute;
			top: 7rem;
			left: 0;
			@include box-sizing(border-box);
			padding: 5% 10% 0 10%;
			.convenient-context__title {
				width: 100%;
				position: relative;
				font-family: 'S-CoreDream-6Bold'; 
				color: #8002c1;
				font-size: 2.2rem;
				line-height: 1;
			}
			.convenient-context__subtitle {
				width: 100%;
				position: relative;
				font-family: 'S-CoreDream-2ExtraLight';
				color: $gray1;
				font-size: 1.4rem;
				line-height: 1;
				margin-top: 1rem;
			}
			.convenient-context__desc {
				width: 30%;
				position: relative;
				font-family: 'S-CoreDream-4Regular'; 
				font-size: 1.1rem;
				color: $gray1;
				line-height: 1.5;
				word-break: keep-all;
				margin-top: 4rem;
			}
			.convenient-context__img {
				width: 100%;
				position: relative;
				@include box-sizing(border-box);
				padding: 0 7%;
				margin-top: 15%;
				img {
					width: 100%;
				}
			}
		}
	}
}