$blue: #2727af;
$white: #ebebeb;

$bubbletalk: #ff6666;

$bg: #ebebeb;

$black-700: rgba(0, 0, 0, 0.7);
$black-300: rgba(0, 0, 0, 0.3);

$white-300: rgba(255, 255, 255, 0.3);
$white-700: rgba(255, 255, 255, 0.7);

$gray1: #424242;
$gray2: #707070;
$gray3: #919191;
$gray4: #b7b7b7;